.reviewsAverage-container{
    padding-left: 10%;
    align-items: center;
}


.reviewsAverage-number{
    font-style: normal;
    font-weight: bold;
}

.reviewsAverage-stars{
    color: yellow;
}

.reviewAverage-phrase{
    width: 170px;
}