.reviewsAverage-container{
    padding-left: 10%;
}


.reviewsAverage-number{
    font-style: normal;
    font-weight: bold;
}

.reviewsAverage-stars{
    color: yellow;
}

.reviewsAverage-phrase p{
    font-size: small;

}